//menu

.menu{
    width:100%;

    display:flex;
    justify-content: space-between;

    position: fixed;

    padding:42px 16px;
}

.mobile{
    display: none;
}

@media screen and (max-width:960px){
    .menu-left{
        display:none;
    }
    .menu-right{
        display:none;
    }
    .menu{
        text-align: center;
        display:none;
        background-color:transparent;
        padding:32px 16px;
    }
    .menu-logo{
        display:block;
        width:100%;
    }
     
}


//container

.flex-end{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.relative{
    position: relative;
}

.container{
    max-width:1220px;

    margin:0 auto;

    padding:24px 16px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.hero{
    height:100vh;
}

@media screen and (max-width:960px){
    .hero{
        height:auto;
    }   
}

.container-item:nth-child(1){
    flex-grow:3;

    margin:40px 0px;
}
.container-item:nth-child(2){
    flex-grow:1;

    margin:40px 0px;
    
    display:flex;
    justify-content: center;
    align-items: center;

    img{
        max-width:350px;;
        border-radius:25px;
    }
}

.container-item > div > h1 {
    margin-top: 45px;
    
}

@media screen and (max-width:800px) {
    img{
        width:300px;
        border-radius:25px;
    }
}



@media screen and (max-width:960px){
    .container{
        flex-direction:column;
    }   
}

.bg-hero{
   position: absolute;
   top:-50px;
   left:0;

    width:100%;
    height:100vh;

    overflow:hidden;
    z-index:-1;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1400px){
    .svg-hero{
        transform:scale(1.5);
    }
}

@media screen and (max-width:1200px){
    .svg-hero{
        transform:scale(1.5)rotate(25deg);
    }
}
@media screen and (max-width:960px){
    .svg-hero{
        transform:scale(2) rotate(25deg);

    }     
    .bg-hero{
        position: absolute;
        top:0;
        left:0;    
        min-height:1100px;
    }  
}

//Selected works

// .bb-gray{
//     width:100%;
//     border-bottom:1px solid $black-light;
// }

.list-item{
    max-width:1200px;
    margin:0 auto;
    padding:16px 24px;

    position: relative;

    display:flex;
    justify-content: flex-start;
    align-items: center;

    a{
        &:hover{
            & + .img-project{
                transform:translate(-50%,-50%) translate3d(0,0,0);
                opacity:1;
            }
        }
    }
}

.list-item > h3{
    padding:5px;
}

.img-project{
    max-width:620px;
    max-height:500px;
    border-radius: 4px;

    position: absolute;
    top:50%;
    left:60%;

    transition: 1s ease;
    z-index:-1;

    opacity:0;

    transform:translate(-50%,-50%) translate3d(-1000px,0,0) skew(70deg);
}

@media screen and (max-width:1000px){
    .img-project{
        max-width:350px;
        max-height:260px;

        position: absolute;
        top:50%;
        left:70%;
    }
}

.get{
    max-width:1200px;

    margin:0 auto;
    padding:16px 24px;
}

@media screen and (max-width:500px){
    .img-project{
        max-width:350px;
        max-height:260px;

        position: absolute;
        top:100%;
        left:40%;
    }
    .list-item h3{
        padding:80px 0;
    }
}

h3.mask{
    font-size:50px;
}

@media screen and (max-width:645px){
    h3.mask{
        font-size:40px;
    }
}




//SVG KeyFrames

#Rectangle1{
    animation:rotate1 5s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes rotate1{
    0%{
        transform: rotate(0deg);
        //filter:hue-rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
        //filter:hue-rotate(360deg);
    }
}
#Rectangle2{
    animation:rotate2 4s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
    opacity:20%;
}
@keyframes rotate2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
#Rectangle3{
    animation:rotate3 6s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
    opacity:20%;
}

@keyframes rotate3{
    0%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(150deg);
    }
}
#Ellipse1{
    animation:Ellipse1 3s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes Ellipse1{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}
#Ellipse2{
    animation:Ellipse2 4s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes Ellipse2{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}
#Ellipse3{
    animation:Ellipse3 2s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes Ellipse3{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}

#line1{
    animation:line1 2s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes line1{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}

#line2{
    animation:line2 1.8s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes line2{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}
#line3{
    animation:line3 2s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes line3{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}
#line4{
    animation:line4 3s ease infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes line4{
    0%{
        opacity:10%;
    }
    50%{
        opacity:50%;
    }
    100%{
        opacity:100%;
    }
}
#luz1{
    animation:luz1 5s ease-out infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes luz1{
    0%{
        transform:translate(40deg) scale(1.1);
    }
    50%{
        transform:scale(1.1)
    }
    100%{
        transform:translate(80deg)scale(1.2)
    }
}
#luz2{
    animation:luz2 7s ease-out infinite alternate;
    transform-origin: center center;
    transform-box:fill-box;
}
@keyframes luz2{
    0%{
        transform:translate(40deg) scale(1.1);
    }
    50%{
        transform:scale(1.1)
    }
    100%{
        transform:translate(80deg)scale(1.2)
    }
}