

$black-normal:#0d0e10;
$black-dark:#050607;
$black-light:#15171a;


$white-normal:#f5f6f7;
$white-dark:#edeff0;
$white-light:#fafcfc;


$blue-normal:#00C2FF;
$blue-dark:#00B3E9;
$blue-light:#3BD5FF;

$gray-1:#777;

.color-gray{
    color:$gray-1;
}