*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

@import 'sass/colors';
@import 'sass/typografi';

body{
    width:100%;
    background-color:#050607;
}
/* class auxiliar of position */
.border{
    border:1px solid red
}

@import 'sass/spacing';
@import 'sass/layout';